<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Corona Warrior</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <script src="{{ url_for('static', filename='game.js') }}" type="module"></script>
</head>

<body>
    <main>
        <canvas width="512" height="320">
        </canvas>

        <p id="outcome"></p>
    </main>

    <aside>
        <article>
            <p><a href="">Play again</a></p>
        </article>

    </aside>

</body>

</html>